main{
    color:#9D4EDD;
}

main h3, main p{
    margin: 25px;
}
hr{
    background-color:#9D4EDD;
    height: 1px;
    border: none;
}

.images{
    display: flex;
    margin: 25px;
}

.texte h2{
    text-align: center;
    text-decoration: underline;
}

