main{
    color:#9D4EDD;
}

h2 {
    text-align: center;
}

.article, .revue{
    height: 10px;
    width: 10px;
}

.carre{
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 10px;
}

.article{
    background: royalblue;
}

.revue{
    background: #800000;
}